<div class="content mb-52">
    <div class="flex items-center justify-center mt-5">
        <h1 class="text-5xl font-black">{{ .Title }}</h1>
    </div>
    {{ if .Params.welcomeText }}
    <div class="flex justify-center mt-7">
        <div class="flex justify-center w-4/5 text-center">
                <p class="text-xl">{{ .Params.text }}</p>
        </div>
    </div>
    {{ end }}
    {{ if .Params.img1 }}
        <div class="flex justify-center mt-7">
            <img src="{{ .Params.imgUrl1 }}" alt="{{ .Params.imgAlt1 }}">      
        </div>
    {{ end }}
    {{ if .Params.section }}
        <div class="section flex flex-col text-center justify-center items-center bg-gradient-to-r from-purple-500 to-green-400 w-full h-72 shadow-2xl mt-40">
            <h2 class="text-4xl font-black">{{ .Params.sectionTitle }}</h2>
                <p>{{ .Params.sectionText }}</p>
                <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 border-blue-700 hover:border-blue-500 rounded-lg w-40 h-12 m-4"><a href="">Zum Lageplan</a></button>
        </div>
    {{ end }}
    {{ if .Params.img2 }}
        <div class="flex justify-center mt-7">
            <img src="{{ .Params.imgUrl2 }}" alt="{{ .Params.imgAlt2 }}">      
        </div>
    {{ end }}
</div>
