<footer class="bg-gradient-to-r from-purple-500 to-green-400  w-full ">
    <div class="flex w-full h-auto justify-around my-10 text-center">
            <h2 class="text-7xl text-white">FVE</h2>
        <div>
            <h2 class="text-xl">Kontaktiert uns</h2>
            <a href="" class="text-white hover:text-blue-900 text-xl">Telefon</a>
            <span class="text-white text-xl">/</span>
            <a href="" class="text-white hover:text-blue-900 text-xl">Mail</a>
            <div>
                <a href="" class="text-white hover:text-blue-900 text-xl">Spielplan</a>
            </div>
        </div>
        <div>
            <h2 class="text-xl block">Informationen</h2>
            <a href="" class="block text-white hover:text-blue-900 text-xl">Über Uns</a>
            <a href="" class="block text-white hover:text-blue-900 text-xl">Events</a>
            <a href="" class="block text-white hover:text-blue-900 text-xl">Statuten</a>
        </div>
        <div>
            <img src="" alt="Logo">
        </div>
    </div>
    <div class="flex justify-center">
        <hr class="border-2 border-black w-96">
    </div>
    <div class="flex w-full h-auto justify-center">
        <a class="m-10" href="">
            <img src="" alt="instagramm">
        </a>
        <a class="m-10" href="">
            <img src="" alt="discord">
        </a>
    </div>
    <div class="flex justify-center">
        <a class="text-white hover:text-blue-900 text-xs" href="https://iconscout.com/contributors/jagathish">Icons: https://iconscout.com/contributors/jagathish</a>
    </div>
</footer>
{{/* .bg-indigo-400 / .bg-blue-400 / .bg-teal-400 */}}