<div class="form flex items-center justify-center mt-10">
    <form action="" class="w-2/4 flex border h-auto justify-center items-center flex-col shadow-xl bg-gray-100 p-10">
        <!-- bg-gradient-to-r from-purple-500 to-green-400 -->
        <div class="m-5 flex h-auto justify-between w-3/6">
            <label for="firstName" class="text-xl">*Vorname:</label>
            <input type="text" name="firstName" class="border-2">
        </div>
        <div class="m-5 flex h-auto justify-between w-3/6">
            <label for="lastName" class="text-xl">*Nachname:</label>
            <input type="text" name="lastName" class="border-2">    
        </div>
        <div class="m-5 flex h-auto justify-between w-3/6">
            <label for="email" class="text-xl">*Emailadresse:</label>
            <input type="text" name="email" class="border-2">    
        </div>
        <p>Geben sie hier bitte Ihre nachricht ein:</p>
        <div class="m-5 flex justify-between w-3/6 h-full">
            <input type="text" class="w-full h-2/4 border-2">
        </div>
        <div class="m-5 flex justify-center w-3/6 h-full">
           <p class="text-sm">* Pflichtfelder</p>
        </div>
    </form>
</div>l