<header class="bg-gradient-to-r from-purple-500 to-green-400 w-full text-3xl">
    <ul class="flex justify-center">
        <li class="mx-11 my-6">
            <a href="/">   
                <img src="../../../../resources/_gen/images/Logo-schwarz.png" alt="Logo">
            </a>   
        </li>
        <li class="mx-11 my-6">
            {{ if eq .Title "Über Uns" }}
                <a class="text-blue-700" href="/about">Über uns</a>
            {{ else }}
                <a class="text-white hover:text-blue-700 transition delay-150 duration-300" href="/about">Über uns</a>
            {{ end }}
        </li>
        <li class="mx-11 my-6">
            {{ if eq .Title "Spielplan" }}
                <a class="text-blue-700" href="/about">Spielplan</a>
            {{ else }}
                <a class="text-white hover:text-blue-700 transition delay-150 duration-300" href="/agenda">Spielplan</a>
            {{ end }}
        </li>
    </ul>
</header>