<div class="flex justify-center w-full items-center mt-3">
    <table class="border border-black border-collapse rounded w-auto text-2xl text-center shadow-lg">
        <thead>
          <tr class="bg-gradient-to-r from-purple-500 to-green-400 text-white font-bold">
            <th class="border border-black p-3">Zeit</th>
            <th class="border border-black p-3">Montag</th>
            <th class="border border-black p-3">Dienstag</th>
            <th class="border border-black p-3">Mittwoch</th>
            <th class="border border-black p-3">Donnerstag</th>
            <th class="border border-black p-3">Freitag</th>
            <th class="border border-black p-3">Samstag</th>
            <th class="border border-black p-3">Sonntag</th>
          </tr>
        </thead>
        <tbody class="timeTable">
          <tr>
            <th class="border border-black p-3">17:00 - 18:00</td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
          </tr>
          <tr>
            <th class="border border-black p-3">18:00 - 19:00</td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
          </tr>
          <tr>
            <th class="border border-black p-3">19:00 - 20:00</td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
          </tr>
          <tr>
            <th class="border border-black p-3">20:00 - 21:00</td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3 text-green-500">Training</td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
          </tr>
          <tr>
           <th class="border border-black p-3">21:00 - 22:00</td>
           <th class="border border-black p-3"></td>
           <th class="border border-black p-3"></td>
           <th class="border border-black p-3"></td>
           <th class="border border-black p-3 text-green-500">Training</td>
           <th class="border border-black p-3"></td>
           <th class="border border-black p-3"></td>
           <th class="border border-black p-3"></td>
        </tr>
          <tr>
            <th class="border border-black p-3">22:00 - 23:00</td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
            <th class="border border-black p-3"></td>
          </tr>
        </tbody>
      </table>
</div>
